body {
    background: #264348;
   
    min-height: 100vh;
  }
  
  #spinner {
    text-align: center;
    background-color: 264348;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:150px;
    
   
  }

  #navbarkanji{
    background-color: #315561;
  }

  #loader {
    position: relative;
    height: 100%; min-height: 100%;
    color: aliceblue;
  }

  #load-text {
    text-align: center;
    background-color: 264348;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }
  .text-gray {
    color: #aaa;
  }
  .list-group {

    margin-top: 1em;
  }
  .list-group-item {
    height: 160px;
    margin-top: 0.15em;
  }

  #kanji{
    position: flex;
    height: 100%;
    width: 100%;
  }

  #caracter{
    position: flex;
    max-height: 100%;
    max-width: 100%;
    font-size: 2.4cm;
    margin-top: -0.2em;
    
  }
.col{
  max-width: 100%;
  max-height: 100%;
  
}
  .row text-center text-white mb-2{
      margin-top: 0.3em;
  }

  #titles{
    color: #263b41;
    font-size: 0.43cm;
  }

  #lecturas {
    margin-left: 2.3em;
  }

  #meanings {
    margin-left: 2.3em;
    margin-top: 1em;
  }

  .card-group-item{
    background-color: white;
  }

  #filtros {
    margin-top: 1.5em;
  }

  #busqueda{
   background-color: #264348;
    color: white;
  }
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #264348 !important;
    border-color: white !important;
}

  #contenidor {
    background: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.80));
    margin-top: 2em;
    padding-bottom: 1em;
  }

 #loadmore{
   margin-top: -2em;
   margin-bottom: 2em;
 }